#underwater {
    background-color: #000;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: radial-gradient(at top center, rgba(0, 51, 61, 0.9) 0%, rgba(0, 0, 0, 1) 80%);
}

#content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: serif;
    font-size: 40px;
    color: #c7c7c7;
}